<div class="locations">
	<h2 class="page-title">{{ page.title }}</h2><!-- /.page-title -->
	{% section 'locations' %}
	<div class="location-content">
		{{ page.content }}
	</div><!-- /.location-content -->
</div><!-- /.locations -->
